<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="phoneForm">
    <h2 class="text-center text-primary" *ngIf="!id">Create Contact</h2>
    <h2 class="text-center text-primary" *ngIf="id">Update Contact</h2>
    <hr />
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="enter name"
        formControlName="name"
        [ngClass]="{
          'is-invalid':
            phoneForm.get('name').errors && phoneForm.get('name').touched
        }"
      />
      <div
        *ngIf="phoneForm.get('name').hasError('required')"
        class="invalid-feedback"
      >
        name is required!
      </div>
      <div
        *ngIf="phoneForm.get('name').hasError('minlength')"
        class="invalid-feedback"
      >
        name must be 3 char long!
      </div>
    </div>

    <!-- phone  -->
    <div class="form-group">
      <input
        type="number"
        class="form-control"
        placeholder="enter phone number"
        formControlName="phoneNumber"
        [ngClass]="{
          'is-invalid':
            phoneForm.get('phoneNumber').errors &&
            phoneForm.get('phoneNumber').touched
        }"
      />
      <div class="invalid-feedback">phone must be 10 digit!</div>
    </div>

    <!-- email -->

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="enter a email"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            phoneForm.get('email').errors && phoneForm.get('email').touched
        }"
      />
      <div
        *ngIf="phoneForm.get('email').hasError('required')"
        class="invalid-feedback"
      >
        email is required!
      </div>
      <div
        *ngIf="phoneForm.get('email').hasError('email')"
        class="invalid-feedback"
      >
        email should be valid!
      </div>
    </div>

    <div class="form-group text-center">
      <button
        class="btn btn-success"
        [disabled]="phoneForm.invalid"
        type="submit"
        *ngIf="!id"
      >
        Add User
      </button>
      <button
        class="btn btn-success"
        [disabled]="phoneForm.invalid"
        type="submit"
        *ngIf="id"
      >
        Update User
      </button>
      <button class="btn btn-outline ml-2" type="button" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
